{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ["add-module-exports"],
  "env": {
    "development": {
      "presets": ["react-hmre"],
      "plugins": [
        ["transform-decorators-legacy"],
        ["transform-object-rest-spread"],
        ["transform-react-display-name"],
        ["react-transform", {
        "transforms": [{
          "transform": "react-transform-catch-errors",
          "imports": ["react", "redbox-react"]
        }]
      }]]
    },
    "production": {
      "presets": ["react-optimize"],
      "plugins": [
        ["babel-plugin-dev-expression"],
        ["transform-decorators-legacy"],
        ["transform-object-rest-spread"],
        ["transform-react-display-name"]
      ]
    }
  }
}
