{
  "presets": [
    "react",
    ["env", { "targets": { "node": "current" } }]
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "transform-react-display-name",
        "transform-class-properties",
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-catch-errors",
            "imports": ["react", "redbox-react"]
          }]
        }],
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "transform-react-display-name",
        "transform-class-properties"
      ]
    }
  }
}
